body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  section {
    background-color: #000000;;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
  }
  
  h1, h2 {
    color: #0f9d58;;
    text-emphasis;
  }
  
  .side-by-side {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  #smallImage {
    width: 50px;
    height: auto;
  }
  
  button {
    
    background-color: #0f9d58;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }
  
  button:hover {
    background-color: #0f9d58;
  }
  .textintro{
    color: aliceblue;
  }